/* Roboto google font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* variables */

:root {
    --bgcolor: #0c1127;
    /* --bgcolor: #182357; */
}


/* commonly used css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/*  */

body {
    background-color: var(--bgcolor);
}

nav {
    position: absolute;
}

nav ul {
    position: fixed;
    display: block;
    top: 30vh;
    margin-left: 2em;
    z-index: 1000;
}

nav ul li {
    margin-bottom: 5em;
}

nav ul li a {
    font-size: 1.5rem;
    color: #00fff9;
    padding: 0.5em 0.75em;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #00fff9;
    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.8), 0 0 0.4em #00fff9;
    box-shadow: inset 0 0 0.5em 0 #00fff9, 0 0 0.5em 0 #00fff9;
    position: relative;
}

nav ul li a::before {
    content: '';
    pointer-events: none;
    position: absolute;
    background-color: #00fff9;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
    filter: blur(2em);
    opacity: 0.7;
}

nav ul li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    box-shadow: 0 0 2em 0.2em #00fff9;
    opacity: 0;
    transition: 0.2s linear;
}

nav ul li a:focus,
nav ul li a:hover {
    color: rgb(34, 22, 0);
    background-color: #00fff9;
    text-shadow: none;
}

nav ul li a:focus::after,
nav ul li a:hover::after {
    opacity: 1;
}

nav ul li a.card-btn.active {
    color: rgb(34, 22, 0);
    background-color: #00fff9;
    text-shadow: none;
    opacity: 1;
}


/* HOME */

#home {
    height: 100vh;
    display: flex;
    justify-content: center;
}

#home .content {
    align-self: center;
}

#home .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home .container h1 {
    color: white;
    position: absolute;
    top: 11rem;
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 0 0 2em#00fff9;
}

#home .container .my-title {
    display: flex;
    color: white;
    position: absolute;
    top: 45rem;
    font-size: 2rem;
}

#home .container .my-title .dynamic-texts {
    height: 70px;
    overflow: hidden;
}

#home .container .my-title ul li {
    position: relative;
    color: #00fff9;
    margin-left: 0.25em;
    top: 0;
    margin-bottom: 2rem;
    animation: slide 6s steps(3) infinite;
}

@keyframes slide {
    100% {
        top: -13rem;
    }
}

#home .container .my-title ul li span {
    position: relative;
}

#home .container .my-title ul li span::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--bgcolor);
    border-left: 2px solid #00fff9;
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -0.8em 0 0.8em;
    }
}

#home .container .loader {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    animation: animate 4s linear infinite;
}


/* animation to make the loader revolve around the border */

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#home .container .loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.4));
    background-size: 200px 360px;
    background-repeat: no-repeat;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}

#home .container .loader::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #00fff9;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 10px #00fff9, 0 0 20px #00fff9, 0 0 30px #00fff9, 0 0 40px #00fff9, 0 0 50px #00fff9, 0 0 60px #00fff9, 0 0 70px #00fff9, 0 0 80px #00fff9, 0 0 90px #00fff9, 0 0 100px #00fff9;
}

#home .container .loader span {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: var(--bgcolor);
    border-radius: 50%;
}

#home .container .my-img {
    position: absolute;
    width: 340px;
    height: 340px;
    background: url('./../img/pic2.png');
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 0 0 20px #03a9f4, 0 0 120px #03a9f4;
}


/* ABOUT */

#about {
    height: 100vh;
    text-align: center;
}

#about>h1 {
    color: white;
    display: flex;
    position: absolute;
    bottom: -7rem;
    left: 45%;
    border-bottom: 2px solid #00fff9;
    text-transform: uppercase;
}

.decks {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#about .decks .card {
    position: absolute;
    height: 30em;
    width: 20em;
    padding: -1.2em;
    bottom: -20em;
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0.2em;
    border: 2px solid #00fff9;
    justify-content: center;
}

#about .decks .card-2 {
    color: red;
    z-index: 20;
}

#about.active .decks .card-1 {
    animation: shuffle1 0.5s forwards;
}

#about.active .decks .card-2 {
    animation: shuffle2 0.5s forwards 0.2s;
}

#about.active .decks .card-3 {
    animation: shuffle3 0.5s forwards 0.4s;
}

#about .card h1 {
    margin-top: -2em;
    margin-bottom: 2em;
}

#about .card .content {
    height: 20em;
    width: 14em;
    border: 2px solid black;
    align-self: center;
}


/* animation for each cards */

@keyframes shuffle1 {
    0% {
        transform: rotate(0) translateX(0)
    }
    100% {
        transform: rotate(-15deg) translateX(-250px);
        bottom: 12em;
    }
}

@keyframes shuffle2 {
    100% {
        bottom: 20em;
        transform: translateY(-50%);
        top: 53%;
    }
}

@keyframes shuffle3 {
    0% {
        transform: rotate(0) translateX(0)
    }
    100% {
        transform: rotate(15deg) translateX(250px);
        bottom: 12em;
    }
}


/* previous work */

#prev-work {
    /* height: 100vh; */
}

#prev-work .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#prev-work .content>h1 {
    color: white;
    text-align: center;
    align-self: center;
    border-bottom: 2px solid #00fff9;
    text-transform: uppercase;
    margin-top: 3rem;
}

#prev-work .content .containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5em;
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
}

#prev-work .content .containers .container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

#prev-work .content .containers:hover .container {
    transform: rotateY(180deg);
}

#prev-work .content .containers .container .front,
#prev-work .content .containers .container .back {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: aliceblue;
    padding: 0 0 2em 0;
    border-radius: 0.5em;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#prev-work .content .containers .container .front span {
    margin-top: 1em;
}

#prev-work .content .containers .container .back {
    transform: rotateY(180deg);
    padding: 2em;
    justify-content: space-around;
}


/* Contact */

#contact {
    height: 100vh;
}

#contact .content {
    display: flex;
    justify-content: center;
}

#contact .content>h1 {
    color: white;
    text-align: center;
    align-self: center;
    border-bottom: 2px solid #00fff9;
    text-transform: uppercase;
    margin-top: 3rem;
}